@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 10px;
    min-height: 100vh;
    background: linear-gradient(45deg, #ff9ce3, #4ab3ff);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.contaniner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.signUp,
.signIn {
    padding: 5em;
    text-align: center;
    background: rgba( 255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 0.0px);
    -webkit-backdrop-filter: blur( 0.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.signUp {
    width: 35%;
}

.signIn {
    width: 30%;
}

.email-field,
.password-field,
.name-field,
.confirmPassword-field {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    display: flex;
    position: relative;
}

.email-field input,
.password-field input,
.name-field input,
.confirmPassword-field input {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
    /* text-align: center; */
}

.email-field .icon,
.password-field .icon,
.name-field .icon,
.confirmPassword-field .icon {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}

.email-field .icon span,
.password-field .icon span,
.name-field .icon span,
.confirmPassword-field .icon span {
    height: 2rem;
    width: 2rem;
    border: 0.2rem solid;
    border-radius: 50%;
    line-height: 1.7rem;
    font-size: 1rem;
    display: none;
}

.email-field .icon .email-icon1,
.password-field .icon .password-icon1,
.name-field .icon .name-icon1,
.confirmPassword-field .icon .confirmPassword-icon1 {
    color: #e74c3c;
    border-color: #e74c3c;
}

.email-field .icon .email-icon2,
.password-field .icon .password-icon2,
.name-field .icon .name-icon2,
.confirmPassword-field .icon .confirmPassword-icon2 {
    color: #27ae60;
    border-color: #27ae60;
}

.email-error,
.password-error,
.name-error,
.confirmPassword-error {
    margin: 1rem 0 2rem 0;
    background-color: #e74c3c;
    padding: 0.5em;
    border-radius: 0.5em;
    position: relative;
    display: none;
    font-size: 1rem;
}

.email-error:before,
.password-error:before,
.name-error:before,
.confirmPassword-error:before {
    display: block;
    content: " ";
    background-color: #e74c3c;
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: -0.5rem;
    right: 0.69rem;
    transform: rotate(45deg);
    z-index: -1;
}

.signUp .heading,
.signIn .heading {
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 600;
}

.btn {
    font-size: 1.5rem;
    padding: 0.2em;
    margin-top: 1rem;
    background-color: #27ae60;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #F2F2F2;
    border-radius: 0.5em;
    display: none;
    /* display: 'none'; */
}

.login {
    display: block;
}

.btn:hover {
    letter-spacing: 0.1em;
}

.circle1,
.circle2 {
    position: absolute;
    z-index: -1;
}

.circle1 {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #27fcf8, #e1e34f);
    transform: rotate(20deg);
    filter: blur(0.7rem);
    top: -12rem;
    left: -10rem;
}

.circle2 {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background: linear-gradient(18deg, #a0b4d8, #a518c2);
    transform: rotate(20deg);
    filter: blur(0.5rem);
    right: -5rem;
    bottom: -2.5rem;
}

.circle1,
.circle2 {
    display: none;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    display: none;
}

.loading img {
    background-color: transparent;
    height: 40rem;
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.forgot-password {
    color: blue;
    text-decoration: underline;
    font-size: 1rem;
    margin: 2rem 0 1rem 0;
    cursor: pointer;
}


/* media queries */

@media (max-width:500px) {
    body {
        font-size: 5px;
        overflow-y: auto;
    }
    .contaniner {
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem 2rem;
        position: relative;
        overflow: hidden;
    }
    .signUp,
    .signIn {
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .circle1,
    .circle2 {
        display: none;
    }
    .loading {
        overflow-y: auto;
    }
    .loading img {
        height: 30rem;
        width: 30rem;
    }
    .loading .text {
        margin-top: 10rem;
    }
}

@media (min-width:500px) and (max-width:768px) {
    body {
        font-size: 5px;
        overflow-y: auto;
    }
    .contaniner {
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem 4rem;
        position: relative;
        overflow: hidden;
    }
    .signUp,
    .signIn {
        width: 100%;
        margin: 0 0 2rem 0;
    }
    .circle1,
    .circle2 {
        display: none;
    }
    .loading .text {
        margin-top: 10rem;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    body {
        font-size: 5px;
        overflow-y: auto;
    }
    .signUp {
        width: 50%;
    }
    .signIn {
        width: 40%;
    }
    .circle1,
    .circle2 {
        display: none;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    body {
        font-size: 10px;
    }
    .circle1,
    .circle2 {
        display: none;
    }
}